/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */

body .custom-font3, .post-slider.style4 .caption.size-lg, .parallax .caption.size-lg, #header .logo, #nav > ul > li > a, .mobile-nav, .error404 .error-message-404 span, .coming-soon-page .error-message-404 span, .blank-page .error-message-404 span, .coming-soon-page .clock, .page-loading-wrapper header .logo {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, h2 {
	font-family: "Oswald", "Open Sans", Arial, Helvetica, sans-serif;
	margin: 0;
}

h3 {
	font-size: 2em;
}